<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Sistema de Resumen</title>
    
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'estilo1.css' %}">

    <link rel="shortcut icon" type="static/favicon.ico" href="{% static 'favicon.ico' %}">
</head>
<body>
    <header>
        <nav>
            <!-- Logo y 'INICIO' alineados a la izquierda -->
            <a href="{% url 'inicio' %}" class="logo">
                <img src="{% static 'images/image4.png' %}" alt="Concentra logo">
            </a>
            <a href="{% url 'inicio' %}" class="menu-item">INICIO</a>
    
            <!-- Menú con 'GENERADOR DE RESUMEN' alineado a la derecha -->
            <div class="menu">
                <a href="{% url 'index' %}" class="menu-item">GENERADOR DE RESUMEN</a>
            </div>
        </nav>
    </header>
    

    <main>
        <section class="hero">
            <div class="hero-overlay"></div>
            <div class="hero-content">
                <h1>Ahorra tiempo con resúmenes instantáneos</h1>
                <p>Evítate el estrés que te da el solo hecho de resumir...</p>
                <a href="{% url 'index' %}" class="cta-button  ">Comienza Ahora</a>
            </div>
        </section>

        <footer>
            <div class="footer-content">
                <!-- Bloque izquierdo: Equipo -->
                <div class="footer-left">
                    <p><strong>EQUIPO:</strong></p>
                    <p>GRUPO 08</p>
                </div>
        
                <!-- Bloque derecho: Mensaje de resumen -->
                <div class="footer-right">
                    <p><strong>Resumen fácilmente...</strong></p>
                    <p>Evítate el estrés que te da el solo hecho de resumir...</p>
                </div>
            </div>
        </footer>
    </main>
</body>
</html>
