<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Sistema de Resumen</title>
    
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'estilo.css' %}">


</head>
<body>
    <header>
        <nav>
            <a href="#" class="logo">Concentra</a>
            <div class="menu">
                <a href="{% url 'inicio' %}" class="menu-item">INICIO</a>
                <a href="{% url 'index' %}" class="menu-item">GENERADOR DE RESUMEN</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="hero-overlay"></div>
            <div class="hero-content">
                <h1>Ahorra tiempo con resúmenes instantáneos</h1>
                <p>Evítate el estrés que te da el solo hecho de resumir...</p>
                <a href="{% url 'index' %}" class="cta-button  ">Comienza Ahora</a>
            </div>
        </section>

        <footer>
            <div class="footer-content">
                <p><strong>EQUIPO:</strong> GRUPO 08</p>
                <p><strong>Resumen fácilmente...</strong> Evítate el estrés que te da el solo hecho de resumir...</p>
            </div>
        </footer>
    </main>
</body>
</html>
