<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen Generado</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'estilo2.css' %}">

    <link rel="shortcut icon" type="static/favicon.ico" href="{% static 'favicon.ico' %}">



    <style>
        .resumen-container {
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
            padding: 20px;
        }
        .resumen-container p {
            text-align: justify;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'inicio' %}" class="logo">
                <img src="{% static 'images/image4.png' %}" alt="Concentra logo">
            </a>
            <a href="{% url 'inicio' %}" class="menu-item">INICIO</a>
    
            <div class="menu">
                <a href="{% url 'index' %}" class="menu-item">GENERADOR DE RESUMEN</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="header-content container">
            <h2>Resumen Generado</h2>
            
            <!-- Nuevo contenedor con fondo blanco -->
            <div class="resumen-content">
                <p>{{ resumen }}</p>
            </div>
    
            <div class="actions">
                <a href="{% url 'index' %}" class="generate-button">Generar Otro Resumen</a>
            </div>
            
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <!-- Bloque izquierdo: Equipo -->
            <div class="footer-left">
                <p><strong>EQUIPO:</strong></p>
                <p>GRUPO 08</p>
            </div>
    
            <!-- Bloque derecho: Mensaje de resumen -->
            <div class="footer-right">
                <p><strong>Resumen fácilmente...</strong></p>
                <p>Evítate el estrés que te da el solo hecho de resumir...</p>
            </div>
        </div>
    </footer>
</body>
</html>
